@font-face {
    font-family: Roboto-Regular;
    font-style: normal;
    src: url(../css/fonts/Roboto/Roboto-Regular.ttf);
}

*{
    font-family:  Roboto-Regular;
    background-image: url(../img/pexels-neo-2653362.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex;
    align-self: stretch;
    justify-content: space-between;
    color: rgb(180, 180, 180);
}




img{
    max-width: 100%;
    height: auto;
}

article {
    margin: auto 0;
}

li {
    list-style-type: none;
    float: left;
    display: inline;
  }

footer{
    text-align: center;
    margin-top: 35%;
    display: flex;
    flex-direction: column;
}

/* SOCIALS */
.socials{
    margin-left: -2%;
    
}

.socials a:link{
    color: blue;
}

.socials a:hover {
    color: white;
  }

a:link{
    color: blue;
}
 
a:hover {
    color: white;
  }
